$google-primary-color: #4285F4;
$google-hover-color: #1367ef;
$google-rating-color: #e5a911;
$google-star-color: #f5c03b;
$google-text-color: #637381;

.google-api-error-message {
    margin: 0 10%;
    width: fit-content;
    background-color: #fecaca;
    padding: 0.45rem 1rem;
    color: #b91c1c;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.375rem;
}

.google-reviews {
    overflow: hidden;

    .google-section-spacing {
        margin: 15px 0;
        display: flex;
        justify-content: center;
    }

    .google-title-business,
    .google-review-name {
        font-weight: bold;
    }

    .google-title-business {
        color: black;
        font-size: 30px;
        margin: 0;
    }

    .google-general-rating {
        font-size: 30px;
        color: $google-rating-color;
        font-weight: bold;
    }

    .google-photo-profile-business {
        margin-right: 10px;

        img {
            width: 122px;
            height: auto;
        }
    }

    .google-logo-img {
        max-width: 60px;
        height: auto;
        right: 10px;
        top: 10px;
    }

    .google-review-header-1 {
        display: flex;
        align-items: center;
    }

    .google-review-header-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .google-rating-container {
        display: flex;
        align-items: center;
    }

    .google-rating-container {
        gap: 10px;
    }

    .google-stars {
        color: $google-star-color;
    }

    .google-review-date {
        font-style: italic;
        color: $google-text-color;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .google-review-name {
        color: rgb(55, 93, 231);
    }

    .google-powered-by,
    .google-review-text {
        font-size: 22px;
        color: $google-text-color;
        font-family: Inter, sans-serif;
    }

    .google-powered-by {
        margin: 10px 0;
    }

    .google-logo {
        display: inline-block;
        font-weight: bold;

        span:nth-child(1) {
            color: #4285F4;
        }

        span:nth-child(2) {
            color: #EA4335;
        }

        span:nth-child(3) {
            color: #FBBC05;
        }

        span:nth-child(4) {
            color: #4285F4;
        }

        span:nth-child(5) {
            color: #34A853;
        }

        span:nth-child(6) {
            color: #EA4335;
        }
    }

    .google-btn-review {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background-color: $google-primary-color;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        max-width: fit-content;

        span {
            font-size: 25px;
        }

        &:hover {
            background-color: $google-hover-color;
        }

        img {
            width: 20px;
            height: auto;
            margin-left: 8px;
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 10px;
        border: 2px solid #ccc;
    }

    ::-webkit-scrollbar-track {
        background-color: #e0e0e0;
        border-radius: 10px;
    }
}
