/* --------------------------------------------------------------- */
/* STRUCTURE */
/* --------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

section {
/*     width: 90%;
    margin: auto !important;
    padding: 50px 0px; */
}

a {
    text-decoration: none !important;

    &:hover {
        cursor: pointer !important;
    }
}

label {}

/* Cursor pointer */
.cursor-pointer {
    cursor: pointer !important;
}

/* --------------------------------------------------------------- */
/* SCROLLBAR */
/* --------------------------------------------------------------- */

/* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
} */
