/* --------------------------------------------------------------- */
/* VARS */

$primary: #10df7e;
$primary-disabled: #46e59b;
$secondary: #413f3f;
$secondary-disabled: #7a7979;
$ternary: #21d1e8;
$ternary-disabled: #5fd8f0;
$quaternary: #35ff00;
$quaternary-disabled: #6aff1a;
$white: #fff;

/* --------------------------------------------------------------- */
/* CLASSES */

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-ternary {
    color: $ternary !important;
}

.text-quaternary {
    color: $quaternary !important;
}


.bg-primary {
    background: $primary !important;
}

.bg-secondary {
    background: $secondary !important;
}

.bg-ternary {
    background: $ternary !important;
}

.bg-quaternary {
    background: $quaternary !important;
}

.bg-white {
    background: $white !important;
}

/* --------------------------------------------------------------- */

/* Videos For Each */

/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */

/* Structure */



/* --------------------------------------------------------------- */
