/* --------------------------------------------------------------- */
/* VARS */

$primary: #0b275c;
$primary-disabled: #46e59b;
$secondary: #413f3f;
$secondary-disabled: #7a7979;
$ternary: #21d1e8;
$ternary-disabled: #5fd8f0;
$quaternary: #35ff00;
$quaternary-disabled: #6aff1a;
$white: #fff;

/* --------------------------------------------------------------- */
/* CLASSES */

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-ternary {
    color: $ternary !important;
}

.text-quaternary {
    color: $quaternary !important;
}


.bg-primary {
    background: $primary !important;
}

.bg-secondary {
    background: $secondary !important;
}

.bg-ternary {
    background: $ternary !important;
}

.bg-quaternary {
    background: $quaternary !important;
}

.bg-white {
    background: $white !important;
}

/* --------------------------------------------------------------- */

/* Videos For Each */

/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */

/* Structure */


.honoraires-link {
    color: white !important;
}

/* --------------------------------------------------------------- */

.btn-custom-primary {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 28px;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    cursor: pointer;

    @media (max-width: 800px) {
        font-size: 22px;
    }

    @media (max-width: 550px) {
        font-size: 20px;
    }

    @media (max-width: 400px) {
        font-size: 18px;
    }
}

.btn-custom-primary:hover {
    border: solid 2px $primary;
    background-color: $white;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(13, 110, 253, 0.3);
}

.btn-custom-primary:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
}

/* --------------------------------------------------------------- */

.btn-custom-primary-outlined {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 50px;

    text-decoration: none;
    cursor: pointer;

    color: $white;
    background-color: transparent;
    border: 2px solid $white;

    transition: all 0.3s ease;

    @media (max-width: 800px) {
        font-size: 22px;
    }

    @media (max-width: 550px) {
        font-size: 20px;
    }

    @media (max-width: 400px) {
        font-size: 18px;
    }
}

.btn-custom-primary-outlined:hover {
    color: $primary;
    background-color: $white;
    border: 2px solid $white;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(13, 110, 253, 0.25);
}

.btn-custom-primary-outlined:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.15);
}

/* --------------------------------------------------------------- */

/* Bouton outline */
.btn-custom-outline {
    border: solid 2px $primary;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 2px solid primary;
    background-color: transparent;
    color: primary;
}

.btn-custom-outline:hover {
    background-color: $white;
    color: $primary;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(13, 110, 253, 0.3);
}

.btn-custom-outline:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
}


/* --------------------------------------------------------------- */

#footer {
    .copyright p {
        color: $white !important;
    }

    .nav-column {
        h6 {
            font-size: 22px !important;
            color: $white !important;
        }

        .footer-nav {
            a {
                font-size: 16px !important;
                color: $white !important;
            }
        }
    }

    .sitename {
        color: $white !important;
    }

    .brand-section {
        .contact-item {

            span,
            i,
            a {
                color: $white !important;
            }
        }
    }

    .brand-description {
        font-size: 20px;
        color: $white !important;
    }

    background-color: $primary !important;
    color: $white !important;
}

section {
    @media (max-width: 450px) {
        padding: 40px 0 !important;
    }
}

/* --------------------------------------------------------------- */
/* Pages Titles */

.custom-margin-page-title {
    margin: 70px 0 30px 0;
}

/* --------------------------------------------------------------- */
/* Margin Custom */

/* Margins top */
.mt-6 {
    margin-top: 4rem !important;
}

.mt-7 {
    margin-top: 5rem !important;
}

.mt-8 {
    margin-top: 6rem !important;
}

.mt-9 {
    margin-top: 8rem !important;
}

.mt-10 {
    margin-top: 10rem !important;
}

/* Margins bottom */
.mb-6 {
    margin-bottom: 4rem !important;
}

.mb-7 {
    margin-bottom: 5rem !important;
}

.mb-8 {
    margin-bottom: 6rem !important;
}

.mb-9 {
    margin-bottom: 8rem !important;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

/* Paddings top (si besoin) */
.pt-6 {
    padding-top: 4rem !important;
}

.pt-7 {
    padding-top: 5rem !important;
}

.pt-8 {
    padding-top: 6rem !important;
}

.pt-9 {
    padding-top: 8rem !important;
}

.pt-10 {
    padding-top: 10rem !important;
}
