/* --------------------------------------------------------------- */
/* VARS */

$primary: #175cdd;
$primary-disabled: #46e59b;
$secondary: #413f3f;
$secondary-disabled: #7a7979;
$ternary: #21d1e8;
$ternary-disabled: #5fd8f0;
$quaternary: #35ff00;
$quaternary-disabled: #6aff1a;
$white: #fff;

/* --------------------------------------------------------------- */
/* CLASSES */

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-ternary {
    color: $ternary !important;
}

.text-quaternary {
    color: $quaternary !important;
}


.bg-primary {
    background: $primary !important;
}

.bg-secondary {
    background: $secondary !important;
}

.bg-ternary {
    background: $ternary !important;
}

.bg-quaternary {
    background: $quaternary !important;
}

.bg-white {
    background: $white !important;
}

/* --------------------------------------------------------------- */

/* Videos For Each */

/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */

/* Structure */


.honoraires-link {
    color: white !important;
}

/* Bouton principal plein */
.btn-custom-primary {
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    background-color: #175cdd;
    /* Bleu primary Bootstrap */
    color: white;
    cursor: pointer;
}

.btn-custom-primary:hover {
    background-color: #0b5ed7;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(13, 110, 253, 0.3);
}

.btn-custom-primary:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
}

/* Bouton outline */
.btn-custom-outline {
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 2px solid #175cdd;
    background-color: transparent;
    color: #175cdd;
    cursor: pointer;
}

.btn-custom-outline:hover {
    background-color: #175cdd;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(13, 110, 253, 0.3);
}

.btn-custom-outline:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
}

/* --------------------------------------------------------------- */
