$primary : #624bff;
$secondary: #ffffff;
$ternary: #7beb59;
$quaternary: #30a25e;
$quinary: #000000;

$secondary-opacity: #d0d0ef;
$bg-primary : #624bff;
$ternary : #000000;
$white: #ffffff;

$error-bg: #fecaca;
$error-text: #b91c1c;

.bg-primary {
    background: $primary !important;
}

/* NAV LINK TEMPLATE */

.nav-link {
    margin-top: 4px !important;
    margin-bottom: 0 !important;
}

.admin-breadcrumb {
    background-color: $primary;
}

.navbar-vertical {
    background-color: $primary;
    border-right: 3px solid #ffffff;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
    color: $ternary;
    background-color: $secondary-opacity;
    cursor: pointer;
    border: 2px solid #404040;
    margin: 0 10px;
}

.navbar-vertical .navbar-nav .nav-item .nav-link:hover {
    background-color: $secondary;
    color: $ternary;
    font-weight: bold;

    & i {
        color: $ternary;
        font-size: 17px !important;
    }
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
    background-color: $secondary;
    color: $ternary;
    font-weight: bold;

    & i {
        color: $ternary;
    }
}

.fa-caret-down {
    transition: transform 0.2s ease-in-out;

    &.rotate-180 {
        transform: rotate(180deg);
    }
}

/* SWEET ALERT */

.swal2-timer-progress-bar {
    background-color: #20c997 !important;
}

/* TABLE */

th,
td {
    border: 1px solid #cdcfd2;
    padding: 12px;
}

th {
    background-color: #212b36;
    color: white;
}

tr:nth-child(even) {
    background-color: #dfe3e8;
}


/* PAGINATION */

.page-item.active .page-link {
    @apply bg-blue-700 text-white border-blue-700;
}

.aside {
    /* ul li a {
        margin-left: 10px;
    } */
}

/* * {
    border: solid 1px black;
} */


.error-message {
    background-color: $error-bg;
    padding: 0.25rem 0.5rem;
    color: $error-text;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 0.375rem;
    display: inline-block;
    margin-top: 0.25rem;
}