/* --------------------------------------------------------------- */
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Galada&family=Playfair+Display:ital,wght@1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


