.jumbotron-video {
    position: relative;
    width: 100%;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }

    video {
        width: 100%;
        object-fit: cover;
    }

    .jumbotron-titles {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Playfair;

        .jumbotron-title-1,
        .jumbotron-title-2,
        .jumbotron-title-3 {
            font-weight: bold;
            text-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
            text-align: left;
            color: $white;
            z-index: 1;
        }

        .jumbotron-title-1 {
            color: $primary !important;
            font-size: 60px !important;
            line-height: 60px !important;

            @media (max-width: 1200px) {
                font-size: 50px !important;
            }

            @media (max-width: 1024px) {
                font-size: 45px !important;
            }

            @media (max-width: 768px) {
                font-size: 40px !important;
            }

            @media (max-width: 480px) {
                font-size: 35px !important;
            }
        }

        .jumbotron-title-2,
        .jumbotron-title-3 {
            font-size: 40px !important;
            line-height: 40px !important;

            @media (max-width: 1200px) {
                font-size: 35px !important;
            }

            @media (max-width: 1024px) {
                font-size: 30px !important;
            }

            @media (max-width: 768px) {
                font-size: 28px !important;
            }

            @media (max-width: 480px) {
                font-size: 24px !important;
            }
        }

        .jumbotron-btn {
            font-family: Roboto;
            display: inline-flex;
            align-items: center;
            background: $primary;
            padding: 10px 32px;
            color: $white;
            font-size: 20px;
            font-weight: 500;
            border: 2px solid $primary;
            text-transform: uppercase;
            transition: all 300ms linear 0s;
            border-radius: 5px;
            margin-top: 20px;

            i {
                margin-right: 10px;
            }

            &:hover {
                background: $white !important;
                color: #000 !important;
            }

            @media (max-width: 1200px) {
                font-size: 18px !important;
            }

            @media (max-width: 1024px) {
                font-size: 16px !important;
            }

            @media (max-width: 768px) {
                font-size: 14px !important;
            }

            @media (max-width: 480px) {
                font-size: 12px !important;
            }
        }

    }
}
