/* Typography */
.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    letter-spacing: 1px;

    @media (max-width: 800px) {
        font-size: 28px;
    }

    @media (max-width: 550px) {
        font-size: 24px;
    }

    @media (max-width: 400px) {
        font-size: 20px;
    }
}

/* Utilities */
.custom-container-margin {
    margin-top: 120px;
}

.my-blue {
    color: $primary;
}

.active {
    color: $primary !important;
}

.service-details-2 {
    position: relative;
    /*  background-image: url("../../../public/img/website/bg/bg-4.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* background-image:
        linear-gradient(rgba(255, 255, 255, 0.65), rgba(0, 0, 0, 0.15)),
        url("../../../public/img/website/bg/bg-4.jpg"); */
}

/* Hero */
.hero {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../../../public/img/website/bg/bg-1.webp") center / cover;
        opacity: 0.3;
        z-index: 0;
    }

    .hero-description {
        font-size: 20px !important;

        .highlight {
            color: $white !important;
        }
    }

    .hero-visual {
        .main-image {
            img {
                object-position: 56% 0 !important;
            }
        }
    }

    .hero-content {
        .hero-actions {
            .btn.btn-primary {
                font-size: 22px;
            }
        }
    }
}

/* Floating card */
.my-floating-card {
    position: absolute;
    top: 20px;
    right: 20px;

    .my-badge-card {
        width: fit-content;
        background: #dae7f4;
        border-radius: 50px;
        color: $primary;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

/* Emergency */
.contact-item {
    display: flex;
    align-items: center !important;
}

.emergency-info {
    strong {
        font-size: 32px !important;

        a {
            color: #112344 !important;
        }
    }
}

.my-emergency-banner {
    margin-top: 25px;
    background: $primary;
    border-radius: 20px;
    padding: 20px;
    color: $white;

    h3 {
        color: $white;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

/* About sections */
.about {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../../../public/img/website/bg/bg-1.webp") center / cover;
        opacity: 0.2;
        z-index: 0;
    }
}

#about {
    p {
        font-size: 20px !important;
    }

    .list-unstyled {
        font-size: 20px !important;

        i {
            font-size: 30px !important;
        }
    }

    th {
        background-color: $primary !important;
        color: $white !important;
    }
}

.home-about {
    .about-content {
        .section-heading {
            font-size: 44px;
        }

        .lead-text {
            font-size: 22px;
        }
    }

    .about-visual {
        .experience-badge {
            background-color: $white;
            color: $primary !important;
            border: solid 2px #175cd1 !important;

            .badge-content {
                position: relative;

                .years {
                    margin-bottom: 15px;
                }
            }

            .img-certificate {
                position: absolute;
                top: -14px;
                right: -16px;

                img {
                    width: 50px;
                    height: auto;
                }
            }
        }
    }
}

#featured-services,
#home-about {
    background-image: url("../../../public/img/website/bg/bg-2.webp");
}

#home-about {


    .lead-text,
    h2 {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }

        &::before {
            background-color: rgb(11, 131, 236) !important;
        }
    }

    p,
    i {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }
    }

    .about-content {
        .skills-section {
            margin-bottom: 40px;

            .skills {
                display: flex;
                align-items: center;
                margin-bottom: 7px !important;
                font-size: 20px;
                font-weight: bold;

                span {
                    color: $white;
                    font-size: 20px;
                }

                i {
                    font-size: 30px !important;
                }
            }
        }
    }
}

/* Sections titles */
.section-title {
    h2 {
        font-size: 44px;
    }

    p {
        font-size: 20px;
    }
}

/* Featured departments */
.featured-departments {
    .specialty-visual {
        height: 475px;

        img {
            object-position: 48% 67%;
        }
    }

    .specialty-card {
        p {
            font-size: 18px;
        }
    }

    .specialty-features {
        span {
            font-weight: bold;
            font-size: 20px;

            i {
                font-size: 30px !important;
            }
        }
    }
}

/* Featured services */
.featured-services {
    .service-image-wrapper {
        img {
            height: 100% !important;
        }
    }

    .service-details {
        p {
            font-size: 20px;
        }
    }
}

#featured-services {
    background-color: $primary;

    .lead-text,
    h2 {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }

        &::before {
            background-color: rgb(11, 131, 236) !important;
        }
    }

    p,
    i {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }
    }

    i {
        font-size: 30px;
    }

    .specialty-content {
        span {
            font-size: 16px;
            color: $white !important;
        }

        h5 {
            font-size: 18px;
            color: $white !important;
            font-weight: bold;
        }
    }

    .service-item {
        border-bottom: $white 1px solid !important;
    }

    .service-icon-wrapper {
        background-color: $white;

        i {
            color: $primary !important;
        }
    }

    .service-info {
        h4 {
            color: $white !important;
        }
    }
}

/* Cards */
.appointment-card {
    @media (max-width: 1200px) {
        display: none !important;
    }
}

.badge-content {
    .text {
        font-size: 17px !important;
    }
}


.departments-tabs .specialty-navigation .department-tab.active {
    color: $white !important;
}

.google-map {
    background-color: #f4f8ff;
}

.condition-tags .tag {
    font-size: 25px !important;
}

.action-card {
    p {
        font-size: 19px !important;
        color: #112344 !important;
        font-style: italic !important;
    }
}

.img-troubles {
    width: 90px;
    max-height: 90px;
}

#service-details-2 {
    min-height: 1000px;
    /* background-color: #f4f8ff; */
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)),
        url("../../../public/img/website/bg/bg-3.webp") center/cover no-repeat;
}

.section h2,
.section-title h2 {
    font-size: 36px !important;
}

.tab-content {
    min-height: 880px;
}

#service-details-2 {
    h2 {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }

        &::before {
            background-color: rgb(11, 131, 236) !important;
        }
    }
}

#home-about .lead-text::before,
#home-about h2::before,
#home-about .h2::before {
    background-color: $primary !important;
}


/* ==========================================================================
   MEDIAS QUERIES
   ========================================================================== */


@media (max-width: 450px) {
    #header {
        .bi-phone .rating-card {
            display: none !important;
        }
    }

    .sitename {
        font-size: 22px !important;
    }

    .emergency-info strong {
        font-size: 24px !important;
    }
}


@media (max-width: 500px) {

    .section h2,
    .section-title h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 550px) {


    .section-title {
        padding-bottom: 20px !important;
    }

    .condition-tags .tag {
        font-size: 19px !important;
    }
}

.about-visual {
    .experience-badge {
        @media (max-width: 780px) {
            display: none !important;
        }
    }
}
