.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    letter-spacing: 1px;
}


.custom-container-margin {
    margin-top: 120px;
}

.contact-item {
    display: flex;
    align-items: center !important;
}

.hero-description {
    font-size: 20px !important;

    .highlight {
        color: $white !important;
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../public/img/website/bg/abstract-bg-3.webp") center/cover;
    opacity: 0.3;
    z-index: 0;
}


.about {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../../../public/img/website/bg/abstract-bg-3.webp") center / cover;
        opacity: 0.2;
        z-index: 0;
    }
}


.featured-departments .specialty-visual img {
    object-position: 48% 67%;
}

.featured-departments .specialty-visual {
    height: 475px;
}

.emergency-info strong {
    font-size: 32px !important;

    a {
        color: #112344 !important
    }
}

.my-floating-card {
    /* border: solid 3px yellow; */
    position: absolute;
    top: 20px;
    right: 20px;

    .my-badge-card {
        /*  border: solid 3px green; */
        width: fit-content;
        background: #dae7f4;
        border-radius: 50px;
        color: $primary;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.hero .hero-visual .main-image img {
    object-position: 56% 0 !important;
}

.my-emergency-banner {
    margin-top: 25px;
    background: $primary;
    border-radius: 20px;
    padding: 20px;
    color: $white;

    h3 {
        color: $white;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}


.appointment-card {
    @media (max-width: 1200px) {
        display: none !important;
    }
}



.my-blue {
    color: $primary;
}

.featured-services .service-image-wrapper img {
    height: 100% !important;
}

.home-about .about-content .section-heading {
    font-size: 44px;
}

.section-title h2 {
    font-size: 44px;
}

.section-title p {
    font-size: 20px;
}

.home-about .about-visual .experience-badge {
    background-color: $white;
    color: $primary !important;
    border: solid 2px #175cd1 !important;
}

.featured-departments .specialty-card p {
    font-size: 18px;
}

.home-about .about-content .lead-text {
    font-size: 22px;
}

.featured-departments .specialty-features span {
    font-weight: bold;
    font-size: 20px;

    i {
        font-size: 30px !important;
    }
}

.featured-services .service-details p {
    font-size: 20px;
}

.badge-content {
    .text {
        font-size: 17px !important;
    }
}

.hero .hero-content .hero-actions .btn.btn-primary {
    font-size: 22px;
}

#home-about {
    background-color: $primary;

    .lead-text,
    h2 {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }

        &::before {
            background-color: rgb(11, 131, 236) !important;
        }
    }

    p,
    i {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }
    }

    .about-content {
        .skills-section {
            margin-bottom: 40px;

            .skills {
                display: flex;
                align-items: center;
                margin-bottom: 7px !important;
                font-size: 20px;
                font-weight: bold;

                span {
                    color: $white;
                    font-size: 20px;
                }

                i {
                    font-size: 30px !important;
                }
            }
        }
    }
}

#featured-services {
    background-color: $primary;

    .lead-text,
    h2 {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }

        &::before {
            background-color: rgb(11, 131, 236) !important;
        }
    }

    p,
    i {
        color: $white !important;

        &::after {
            background-color: $white !important;
        }
    }

    i {
        font-size: 30px;
    }

    .specialty-content {
        span {
            font-size: 16px;
            color: $white !important;
        }

        h5 {
            font-size: 18px;
            color: $white !important;
            font-weight: bold;
        }
    }

    .service-item {
        border-bottom: $white 1px solid !important;
    }

    .service-icon-wrapper {
        background-color: $white;

        i {
            color: $primary !important;
        }
    }

    .service-info {
        h4 {
            color: $white !important;
        }
    }
}

#about {
    p {
        font-size: 20px !important;
    }

    .list-unstyled {
        font-size: 20px !important;

        i {
            font-size: 30px !important;
        }
    }

    th {
        background-color: $primary !important;
        color: $white !important;
    }

}

.active {
    color: $primary !important;
}
