.custom-container-margin {
    margin-top: 43px;
}

.contact-item {
    display: flex;
    align-items: center !important;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../public/img/website/bg/abstract-bg-3.webp") center/cover;
    /* background: url("../../../public/img/website/damien/osteo-3.webp") center/cover; */
    opacity: 0.3;
    z-index: 0;
}

.featured-departments .specialty-visual img {
    object-position: 0% 67%;
}

.featured-departments .specialty-visual {
    height: 475px;
}

.emergency-info strong {
    font-size: 32px !important;

    a {
        color: #112344 !important
    }
}
