.custom-container-margin {
    margin-top: 43px;
}

.contact-item {
    display: flex;
    align-items: center !important;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../public/img/website/bg/abstract-bg-3.webp") center/cover;
    /* background: url("../../../public/img/website/damien/osteo-3.webp") center/cover; */
    opacity: 0.3;
    z-index: 0;
}

.featured-departments .specialty-visual img {
    object-position: 0% 67%;
}

.featured-departments .specialty-visual {
    height: 475px;
}

.emergency-info strong {
    font-size: 32px !important;

    a {
        color: #112344 !important
    }
}

.my-floating-card {
    /* border: solid 3px yellow; */
    position: absolute;
    top: 20px;
    right: 20px;

    .my-badge-card {
        /*  border: solid 3px green; */
        width: fit-content;
        background: #dae7f4;
        border-radius: 50px;
        color: #175cdd;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.hero .hero-visual .main-image img {
    object-position: 56% 0 !important;
}

.my-emergency-banner {
    margin-top: 25px;
    background: #2762df;
    border-radius: 20px;
    padding: 20px;
    color: white;

    h3 {
        color: white;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}


.appointment-card {
    @media (max-width: 1200px) {
        display: none !important;
    }
}
