.honoraires {
   /*  padding-top: 15%;
    padding-bottom: 10%; */

    .my-emergency-banner {
        background: $primary;
        border-radius: 20px;
        padding: 20px;
        color: white;

        h3 {
            color: white;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
}
