.honoraires {
    .my-emergency-banner {
        background: #2762df;
        border-radius: 20px;
        padding: 20px;
        color: white;

        h3 {
            color: white;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }

    .honoraires-link {
        color: white !important;
    }
}
