// Splide Google Reviews
.google-reviews {
    margin: 35px;
    font-family: Inter, sans-serif;

    @media (max-width: 580px) {
        margin: 0 20px;
    }

    @media (max-width: 350px) {
        margin: 0 5px;
    }

    .splide {
        padding: 20px;

        @media (max-width: 580px) {
            padding: 10px;
        }

        @media (max-width: 350px) {
            padding: 0px;
        }

        .splide__slide {
            height: max-content;
        }

        .splide__progress__bar {
            background: rgb(113, 255, 47) !important;
            height: 3px !important;
        }

        .splide__track {
            padding: 20px 0;
        }

        .splide__arrow {
            background: white !important;
            border: 1px solid lightgray;
        }

        .splide__arrows {
            i {
                color: rgb(55, 54, 54);
                font-size: 20px;
            }
        }

        .splide__arrows {

            .splide__arrow--prev,
            .splide__arrow--next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transition: transform ease-in 0.2s, -webkit-transform ease-in 0.2s;
            }

            .splide__arrow--prev {
                left: 4px;
            }

            .splide__arrow--next {
                right: 4px;
            }

            .splide__arrow--prev:hover,
            .splide__arrow--next:hover {
                background: rgb(204, 203, 203) !important;
                border: lightgray !important;
            }
        }

        .splide__list {
            cursor: grab;

            li {
                padding: 20px;
                border: 1px solid rgb(200, 200, 200);
                border-radius: 0.5rem;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            }
        }

        .splide__pagination {
            position: unset !important;
            /* Je pense que Splide met absolute par défaut */

            .is-active {
                background-color: rgb(42, 42, 42);
            }
        }

        .splide__pagination__page {
            background: #666866;
            height: 15px;
            width: 15px;
        }

        .splide__pagination__page.is-active {
            transform: scale(1.2);
            z-index: 1;
        }
    }
}
